pipeline/auth_user_cdc.json
{
	"name": "auth_user_cdc",
	"properties": {
		"activities": [
			{
				"name": "fetchmaxupdateddate",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzurePostgreSqlSource",
						"query": "select max(updated_at) as max_updated_date from public.user;",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DS_V2_AUTH_DB_PRODUCTION",
						"type": "DatasetReference",
						"parameters": {
							"table_name": "user"
						}
					}
				}
			},
			{
				"name": "Copy data1",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Set variable1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "PostgreSqlV2Source",
						"query": "SELECT \r\n    u.id AS user_id,\r\n    u.encrypted_password AS password,\r\n    u.password_salt,\r\n    u.email,\r\n    u.created_at,\r\n    u.updated_at,\r\n    CAST(CASE \r\n            WHEN u.deleted_at IS NOT NULL THEN TRUE\r\n            ELSE FALSE\r\n        END AS BOOLEAN) AS is_deleted,\r\n    CURRENT_TIMESTAMP as password_updated_at,\r\n    false as is_email_verified,\r\n    u.is_phone_verified as mobile_verified,\r\n\tcase \r\n  \twhen sua.provider = 'google_oauth2' then 'google'\r\n\telse sua.provider end as login_type,\r\n\tsua.uid as social_id,\r\n\tcoalesce(u.spree_api_key,'') as spree_api_key,\r\n\tcase \r\n\twhen u.blacklisted_at is not null Then True\r\n\tELSE false\r\n\tend as blacklisted\r\n\t\r\nFROM spree_users u\r\nleft join spree_user_authentications sua on u.id = sua.user_id\r\nwhere u.updated_at >= '@{variables('max_updated_date')}';"
					},
					"sink": {
						"type": "ParquetSink",
						"storeSettings": {
							"type": "AzureBlobStorageWriteSettings",
							"copyBehavior": "PreserveHierarchy"
						},
						"formatSettings": {
							"type": "ParquetWriteSettings"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "is_deleted",
									"type": "Boolean",
									"physicalType": "boolean"
								},
								"sink": {
									"name": "is_deleted",
									"type": "Boolean",
									"physicalType": "boolean"
								}
							},
							{
								"source": {
									"name": "created_at",
									"type": "DateTime",
									"physicalType": "timestamp without time zone"
								},
								"sink": {
									"name": "created_at",
									"type": "DateTime",
									"physicalType": "timestamp without time zone"
								}
							},
							{
								"source": {
									"name": "updated_at",
									"type": "DateTime",
									"physicalType": "timestamp without time zone"
								},
								"sink": {
									"name": "updated_at",
									"type": "DateTime",
									"physicalType": "timestamp without time zone"
								}
							},
							{
								"source": {
									"name": "user_id",
									"type": "Int32",
									"physicalType": "integer"
								},
								"sink": {
									"name": "user",
									"type": "Int32",
									"physicalType": "integer"
								}
							},
							{
								"source": {
									"name": "email",
									"type": "String",
									"physicalType": "character varying"
								},
								"sink": {
									"name": "email",
									"type": "String",
									"physicalType": "character varying"
								}
							},
							{
								"source": {
									"name": "password_updated_at",
									"type": "DateTime",
									"physicalType": "timestamp with time zone"
								},
								"sink": {
									"name": "password_updated_at",
									"type": "DateTime",
									"physicalType": "timestamp without time zone"
								}
							},
							{
								"source": {
									"name": "login_type",
									"type": "String",
									"physicalType": "character varying"
								},
								"sink": {
									"name": "login_type",
									"type": "String",
									"physicalType": "character varying"
								}
							},
							{
								"source": {
									"name": "social_id",
									"type": "String",
									"physicalType": "character varying"
								},
								"sink": {
									"name": "social_id",
									"type": "String",
									"physicalType": "character varying"
								}
							},
							{
								"source": {
									"name": "is_email_verified",
									"type": "Boolean",
									"physicalType": "boolean"
								},
								"sink": {
									"name": "is_email_verified",
									"type": "Boolean",
									"physicalType": "boolean"
								}
							},
							{
								"source": {
									"name": "mobile_verified",
									"type": "Boolean",
									"physicalType": "boolean"
								},
								"sink": {
									"name": "mobile_verified",
									"type": "Boolean",
									"physicalType": "boolean"
								}
							},
							{
								"source": {
									"name": "password_salt",
									"type": "String",
									"physicalType": "character varying"
								},
								"sink": {
									"name": "password_salt",
									"type": "String",
									"physicalType": "character varying"
								}
							},
							{
								"source": {
									"name": "password",
									"type": "String",
									"physicalType": "character varying"
								},
								"sink": {
									"name": "password",
									"type": "String",
									"physicalType": "text"
								}
							},
							{
								"source": {
									"name": "blacklisted",
									"type": "Boolean",
									"physicalType": "boolean"
								},
								"sink": {
									"name": "is_blacklisted",
									"type": "Boolean",
									"physicalType": "boolean"
								}
							},
							{
								"source": {
									"name": "spree_api_key",
									"type": "String",
									"physicalType": "character varying"
								},
								"sink": {
									"name": "spree_api_key",
									"type": "String",
									"physicalType": "character varying"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "DS_V1_PRODUCTION",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "DS_Intermiadate_Result",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Set variable1",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "fetchmaxupdateddate",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "max_updated_date",
					"value": {
						"value": "@activity('fetchmaxupdateddate').output.firstRow.max_updated_date",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Data flow1",
				"type": "ExecuteDataFlow",
				"dependsOn": [
					{
						"activity": "Copy data1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataflow": {
						"referenceName": "df_auth_cdc",
						"type": "DataFlowReference"
					},
					"compute": {
						"coreCount": 8,
						"computeType": "General"
					},
					"traceLevel": "Fine"
				}
			}
		],
		"variables": {
			"max_updated_date": {
				"type": "String"
			}
		},
		"folder": {
			"name": "Auth DB CDC"
		},
		"annotations": []
	}
}